[run]

source =
    openpnm

[report]

omit =
    test/**
    examples/**
    **/__init__.py
    porespy/__version__.py
    example.py
    setup.py

exclude_lines =
    pragma: no cover
    raise NotImplementedError
    if __name__ == .__main__.:
