[run]

source =
    porespy

[report]

omit =
    docs/**
    test/**
    examples/**
    **/__init__.py
    porespy/__version__.py
    example.py
    setup.py
    porespy/beta/**

exclude_lines =
    pragma: no cover
    raise NotImplementedError
    if __name__ == .__main__.:
