[run]

source =
    src/porespy

[report]

omit =
    docs/**
    test/**
    examples/**
    src/porespy/__version__.py
    src/porespy/beta/**
    **/__init__.py
    example.py
    setup.py

exclude_lines =
    pragma: no cover
    raise NotImplementedError
    if __name__ == .__main__.:
