*.pyc
*.nblink
porespy.egg-info/

docs/_build/
docs/modules/generated

dist/
build/

bin/clean
bin/test

.ipynb_checkpoints/
*checkpoint.ipynb

examples/networks/*.vt*

.idea/
.spyproject/
.pytest_cache/
.cache/
.coverage
