@import url('https://fonts.googleapis.com/css2?family=Fira+Code&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

main {
    background-color: white;
    background-image: url(./_static/images/porespy_logo.png);
}

body {
    background-color: #F8F9FB;
    padding-top: calc(var(--pst-header-height));
}

.bd-sidebar, .bd-toc {
    top: calc(var(--pst-header-height));
}

div#navbar-menu {
    padding-left: 25px;
}

input#search-input {
    border-radius: 10px;
}

.toctree-l3 > a.reference.internal {
    font-family: 'Robot Mono', 'Fira Code', monospace;
}

/*img#banner {
    opacity: 0.5;
    position: relative;
}
*/

