numpy
numpy-stl
scipy
scikit-image
matplotlib
pandas
imageio
pyevtk
array_split
transforms3d
tqdm
numba
dask
openpnm
edt
pyimagej
loguru
furo
pydata-sphinx-theme
jupyterlab_widgets
sphinx-copybutton
nbsphinx
nbsphinx-link
pandoc
