name: Ubuntu

on: [push]

jobs:
  build:

    if: (! contains(github.event.head_commit.message, 'ci min')) &&
        (! contains(github.event.head_commit.message, 'ci examples'))

    runs-on: ${{ matrix.operating-system }}
    defaults:
      run:
        shell: bash -l {0}

    strategy:
      max-parallel: 4
      matrix:
        python-version: [3.8]
        operating-system: [ubuntu-latest]

    steps:
      - uses: actions/checkout@v2
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}

      - name: Cache conda
        uses: actions/cache@v2
        env:
          CACHE_NUMBER: 3  # increase value -> force reset cache
        with:
          path: ~/conda_pkgs_dir
          key: ${{ runner.os }}-conda-${{ env.CACHE_NUMBER }}-${{ hashFiles('**/conda_requirements.txt') }}

      - name: Set up conda/mamba
        uses: conda-incubator/setup-miniconda@v2
        with:
          use-mamba: true
          miniforge-variant: Mambaforge
          miniforge-version: "4.10.0-0"
          allow-softlinks: true
          use-only-tar-bz2: true
          show-channel-urls: false
          auto-activate-base: true
          channel-priority: strict
          channels: conda-forge
          condarc-file: requirements/.condarc
          python-version: ${{ matrix.python-version }}

      - name: Install dependencies (conda)
        run: |
          mamba install \
            --file requirements/conda_requirements.txt \
            --file requirements/test_requirements.txt \
            --file requirements/optional_requirements.txt
          pip install \
            -r requirements/pip_requirements.txt
          # Install porespy from the checked-out branch
          pip install -e . --no-deps

      - name: Disable numba JIT for codecov to include jitted methods
        run: |
          echo "NUMBA_DISABLE_JIT=1" >> $GITHUB_ENV

      - name: Running tests
        run: |
          # Install pycodestyle
          pip install pytest-pycodestyle
          pytest --cov=./ --cov-report=xml --pycodestyle

      - name: Upload coverage to Codecov
        if: matrix.python-version == 3.8
        uses: codecov/codecov-action@v1
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          file: ./coverage.xml
          flags: unittests
          name: codecov-umbrella
